# Example configuration file config.yaml
# Copy this file to config.yaml and fill in the values.

mqtt_broker: tcp://localhost:1883 # MQTT broker address
mqtt_user: ""                   # MQTT user (optional, leave blank if not used)
mqtt_password: ""             # MQTT password (optional)
mqtt_topic: frigate/events      # MQTT topic for Frigate events

telegram_token: "YOUR_TOKEN_HERE"  # Telegram bot token
telegram_chat_id: 0                # Telegram chat ID (replace with a number)

frigate_url: "http://localhost:5000" # Frigate API base URL

redis_addr: "localhost:6379"
redis_password: "your_redis_password"  # leave empty if no password
redis_db: 0

groups:
  - General|1
  - Rua|3
  - TrasPorta|366
  - Tras|4
  - FimRua|5
  - Bolacha|2
  - Portao|26